.grid{
    display: flex;
    flex-direction: column;
    border: 20px solid green;
    margin: 20px;
    width: 1000px;
    height: 1000px;
}

.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column{
    display: flex;
}

.square{
    background: rgb(197, 189, 189);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}