body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
}
.grid{
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    margin: 10px;
    width: 500px;
    height: 500px;
}

.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: white;
}



.column{
    display: flex;
    height: 100%;
}

.square{
    background: rgb(197, 189, 189);
    width: 100%;
    height: 100%;
    border: 1px solid black;
}